*.class

# Package Files #
*.war
*.ear

# IntelliJ IDEA project files #
./AMIDST.eml
./AMIDST.iml
./.idea/*
.idea
/bin
/dist
/logs
/nbproject
/build
./target/*

history.txt
target/
/dependency-reduced-pom.xml
devtools.properties
tests
